<!DOCTYPE html>
<html>
  <head>
    <title>game</title>
    <link rel="stylesheet" href="/stylesheets/game-style.css" />
  </head>
  <body>
    <canvas id="canvas"></canvas>
    <form id="modal" method="post" action="/results">
      <label for="username">名前を入力</label>
      <input type="text" id="username" name="username" />

      <input type="hidden" id="score" name="score" value="" />
      <button type="submit">登録</button>
    </form>
    <script type="module" src="javascripts/script.js"></script>
  </body>
</html>
