<!DOCTYPE html>
<html>
  <head>
    <title>game</title>
    <link rel="stylesheet" href="/stylesheets/game-style.css" />
  </head>
  <body>
    <h1>Game</h1>
    <canvas id="canvas"></canvas>
    <script type="module" src="javascripts/script.js"></script>
  </body>
</html>
